<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Cadastrar checkin</h5>
        </div>
        <div class=" card-body">
          <form (ngSubmit)="salvar()">
            <div class=" row">
              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label> Código (disabled) </label>
                  <input class=" form-control" disabled="" type="number" name="guidCheckin"
                    [(ngModel)]="checkin.guidCheckin" />
                </div>
              </div>
              <div class=" col-md-5 px-md-1">
                <div class=" form-group">
                  <label> Usuário </label>
                  <input class=" form-control" type="number" name="guidUsuario" [(ngModel)]="checkin.guidUsuario" />
                </div>
              </div>
              <div class=" col-md-5 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Voô </label>
                  <input class=" form-control" type="number" name="guidVoo" [(ngModel)]="checkin.guidVoo" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Aeronave </label>
                  <input class=" form-control" type="number" name="guidAeronave" [(ngModel)]="checkin.guidAeronave" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Passagem </label>
                  <input class=" form-control" type="number" name="guidPassagem" [(ngModel)]="checkin.guidPassagem" />
                </div>
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Data </label>
                <input class=" form-control" type="date" name="guidPassagem" [(ngModel)]="checkin.dataCheckin" />
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Status checkin </label>
                  <input class=" form-control" disable="" type="number" name="checkin.guidStatus"
                    [(ngModel)]="checkin.guidStatus" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <br>
                  <button class="btn btn-sm btn-danger btn-simple active" (click)="teste" title="Finalizar checkin"><i
                      class=" tim-icons icon-check-2"></i></button>
                </div>
              </div>
              <div class=" card-footer">
                <button class="btn btn-sm btn-danger btn-simple active" title="Salvar" type="submit">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>